<template>

  <section class="hero is-fullheight is-bold"
           style="overflow: hidden;"
  >
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/pomodoro/img/icons/msapplication-icon-144x144.png" alt="Logo">
            </a>
            <a class="navbar-item">
              {{ title }}
            </a>
            <a role="button" class="navbar-burger" data-target="navbarMenuHeroA" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Timing
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" @click="changeTotalTime(60 * 60)">
                    60 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 50)">
                    50 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 45)">
                    45 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 40)">
                    40 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 30)">
                    30 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 25)">
                    25 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 20)">
                    20 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 15)">
                    15 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 10)">
                    10 min.
                  </a>
                  <a class="navbar-item" @click="changeTotalTime(60 * 7)">
                    7 min.
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
    </div>
    <div class="hero-footer">
      <div class="container has-text-centered">
        <div id="timer">
          <span id="minutes">{{ minutes }}</span>
          <span id="middle">:</span>
          <span id="seconds">{{ seconds }}</span>
        </div>
        <div class="buttons is-centered">
          <!--     Start Timer -->
          <button
                  id="start"
                  class="button is-success is-large is-rounded is-outlined"
                  v-if="!timer"
                  @click="startTimer"
          >
            <i class="fa fa-play"></i>
          </button>
          <!--     Pause Timer -->
          <button
                  id="pause"
                  class="button is-warning is-large is-rounded is-outlined"
                  v-if="timer"
                  @click="pauseTimer"
          >
            <i class="fa fa-pause"></i>
          </button>
          <!--     Restart Timer -->
          <button
                  id="reset"
                  class="button is-danger is-large is-rounded is-outlined"
                  v-if="resetButton"
                  @click="resetTimer"
          >
            <i class="fa fa-stop"></i>
          </button>
        </div>
        <div id="progressBar">
          <div id="barStatus"
               :style="{
                 'width': width + '%'
               }"
          ></div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
  export default {
    name: 'Pomodoro',
    data() {
      return {
        timer: null,
        userTotalTime: (25 * 60),
        totalTime: (25 * 60),
        resetButton: false,
        title: "Ready Player One ...",
        width: 0,
        progress: null
      }
    },
    methods: {
      changeTotalTime(newValue) {
        this.userTotalTime = newValue
        this.totalTime = this.userTotalTime
      },
      startTimer() {
        this.timer = setInterval(() => this.countdown(), 1000)
        this.progress = setInterval(() => this.frame(), 5000)
        this.resetButton = true
        this.title = "Keep focus on the goal !"
      },
      countdown() {
        this.totalTime--
      },
      pauseTimer() {
        clearInterval(this.timer)
        clearInterval(this.progress)
        this.timer = null
        this.progress = null
        this.resetButton = true
        this.title = "Don't give up ..."
      },
      resetTimer() {
        this.totalTime = this.userTotalTime
        clearInterval(this.timer)
        clearInterval(this.progress)
        this.timer = null
        this.progress = null
        this.width = 0
        this.resetButton = false
        this.title = "Ready Player One ..."
      },
      padTime(time) {
        return (time < 10 ? '0' : '') + time
      },
      frame() {
        if (this.width >= 100) {
          clearInterval(this.progress)
        }
        else {
          this.width = 100 - ((this.totalTime / this.userTotalTime) * 100)
        }
      }
    },
    computed: {
      minutes() {
        const minutes = Math.floor(this.totalTime / 60)
        return this.padTime(minutes)
      },
      seconds() {
        const seconds = this.totalTime - (this.minutes * 60)
        return this.padTime(seconds)
      },
      isPhaseOne() {
        return this.totalTime > (10 * 60)
      },
      isPhaseTwo() {
        return this.totalTime > (5 * 60) && this.totalTime <= (10 * 60)
      },
      isPhaseThree() {
        return this.totalTime <= (5 * 60)
      },
    },
    watch: {
      totalTime(value) {
        if (value === 0) {
          this.totalTime = this.userTotalTime
          clearInterval(this.timer)
          this.timer = null
          this.resetButton = false
          this.title = "Well done bro' !"
          setTimeout(() => this.title = "Another sprint ?", 10000)
        }
      }
    },
    mounted() {
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target
              const $target = document.getElementById(target)

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active')
              $target.classList.toggle('is-active')

            })
          })
        }

      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  body, html {
    height: 100%;
    overflow: hidden;
  }

  .title {
    color: #DDD;
    font-size: 50px;
    margin-bottom: 20px;
  }

  #timer {
    font-size: 200px;
    color: rgba(255, 255, 255, 0.74);
    line-height: 1;
    margin-bottom: 40px;
  }

  .is-large {
    width: 250px
  }

  #progressBar {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border-radius: 7px;
  }

  #barStatus {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #1381ff;
    border-radius: 7px;
  }

  .hero {
    background: black url("/pomodoro/img/tesla-desktop.jpeg") center / cover !important;
  }

  @media (max-width: 1024px) {
    .hero {
      background: black url("/pomodoro/img/tesla-tablet.jpeg") center / cover !important;
    }

    #timer {
      font-size: 150px;
    }
  }

  @media (max-width: 768px) {
    .hero {
      background: black url("/pomodoro/img/tesla-mobile.jpeg") center / cover !important;
    }

    #timer {
      font-size: 80px
    }
  }

</style>
